/* vim: set nowrap: */
:root {
    /*--color-default-fg: var(--color-misc-fg); */
    --key-width: 60px;
    --key-height: var(--key-width);
    --key-font-size: calc(0.4 * var(--key-width));
    --tiny-key-height: calc(0.3 * var(--key-width));
    --tiny-key-width: calc(0.82 * var(--key-width));
    --tiny-key-font-size: calc(0.3 * var(--key-width));
    --color-main-fg: skyblue;
    --color-highlight-fg: limegreen;
    --color-highlight-bg: #333;
    --color-bound-keys: #222;
    --color-default-bg: #111;
    --color-unbound-keys: black;
    --color-default-fg: var(--color-main-fg);
}
* {
    color: var(--color-default-fg);
    margin: 5px;
    padding: 5px;
}
html {
    margin: 0px;
    padding: 0px;
}
body {
    background: var(--color-default-bg);
    padding: 0%;
    margin: 0px;
    padding-top: 0px;
    text-align: center;
    font-size: var(--key-font-size);
}

div.key {
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    float: center;
    min-width: var(--key-width);
    //min-height: var(--key-height);
    font-size: var(--key-font-size);
}

div.keybox {
    margin: 2px;
    padding: 2px;
    padding-top:    3px;
    padding-bottom: 3px;
    border: 2px solid;
    border-radius: 10px;
    float: center;
}
div.keybox:hover { 
    background: var(--color-highlight-bg); 
    color: var(--color-highlight-fg); 
    border: 4px solid;
    margin: 0px;
}

div.hidden {
    font-size: 0px;
}

hr {
    width: 100%; 
    height: 0px; 
    padding: 0px; 
    background: var(--color-default-fg);
    border: 0px
}
